canvas {
    display: block;
    margin: 20px auto;
    background: #7cb4ec;
    border: 5px solid red;
    border-radius: 10px;
}

#title {
    color: white;
    margin: 0;
}

#scoreboard {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

#gameOver {
    font-size: 36px;
    color: red;
    display: none;
}

#startButton {
    width: fit-content;
    font-size: 20px;
    padding-inline: 10px;
    padding-block: 5px;
    background-color: red;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.2s;
    color: white;
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 5px;
    margin-top: 20px;
}

#startButton:hover {
    background-color: rgb(173, 17, 17);
}