/* Canvas Styling */
canvas {
    display: block;
    margin: 20px auto;
    background: #1E90FF;
    border: 3px solid white;
    border-radius: 10px;
}

/* Scoreboard Styling */
#scoreboard {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

/* Game Over Message */
#gameOver {
    font-size: 36px;
    color: red;
    display: none;
}

#startButton {
    width: fit-content;
    font-size: 20px;
    padding-inline: 10px;
    padding-block: 5px;
    background-color: #1E90FF;
    border-radius: 10px;
    border: 2px solid black;
    transition: 0.2s;
}

#startButton:hover {
    background-color: #226cb7;
}