canvas {
    display: block;
    margin: 20px auto;
    background: #7cb4ec;
    border: 5px solid red;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.gametab {
    height: 100dvh;
    margin-block: 20px;
}

#title {
    color: white;
    margin: 0;
}

#scoreboard {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

#gameOver {
    font-size: 30px;
    color: red;
    display: none;
}

#startButton {
    width: fit-content;
    font-size: 20px;
    padding-inline: 10px;
    padding-block: 5px;
    background-color: red;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.2s;
    color: white;
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 5px;
    margin-top: 20px;
}

#gift {
    transition: transform 0.2s ease-in-out;
}

#startButton:hover {
    background-color: rgb(173, 17, 17);
}

#startButton:hover #gift {
    transform: scale(1.1);
}